[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Bosco Player
Comment=Say Hello
Exec=/home/bruce/.local/bin/bosco-player
Icon=/home/bruce/.local/share/bosco/bosco.png
Terminal=false
Type=Application
StartupNotify=true
Categories=GNOME;GTK;Utility;
